Package: enigma2-plugin-extensions-iptvdream-kartina
Version:
Depends: enigma2-plugin-extensions-iptvdream (>= 2.1.8)
Description: enigma2 iptvdream kartina player
Section: extra
Priority: optional
Maintainer: Alex Maystrenko <alexeytech@gmail.com>
License: GNU GPLv2
Architecture:
